if user
	#login-flow.authenticated
		script(type='text/javascript').
			window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
			window.analytics.load("sxucdidih4");
			window.analytics.page();
			analytics.identify({
				provider: "#{user.provider}",

				displayName: "#{user.displayName}",
				familyName: "#{user.name.familyName}",
				givenName: "#{user.name.givenName}",
				middleName: "#{user.name.middleName}",

				email: "#{user.emails[0].value}"
			});
		.login-banner Hi #{user.displayName.split(' ')[0]}!
		#login-container
			.login-screen#login-authenticated
				ul.login-options
					li.login-option#option-play
						a.option-link(href='#game')
						img.option-icon(src='/images/icons/icon_play.png')
						span.option-caption Play now
						.option-description
							| Pick up where you left off.
					li.login-option.disabled#option-settings
						img.option-icon(src='/images/icons/icon_gear.png')
						span.option-caption Account (coming soon)
						.option-description
							| View information about your account
					li.login-option#option-signout
						a.option-link(href='/logout')
						img.option-icon(src='/images/icons/icon_exit.png')
						span.option-caption Sign out
						.option-description
							| Sign out of Cosmos :(
else
	#login-flow.anonymous
		#login-container
			.login-screen#login-intro
				ul.login-options
					li.login-option#option-play
						a.option-link(href='#game')
						img.option-icon(src='/images/icons/icon_play.png')
						span.option-caption Play now
						.option-description
							| Start playing instantly
							br
							| with no registration up front.
					li.login-option#option-signin
						a.option-link(href='#signin')
						img.option-icon(src='/images/icons/icon_key.png')
						span.option-caption Sign in
						.option-description
							| Sign in to save your progress
							br
							| or pick up where you left off.
							br
							br
							| You can sign in securely using a
							br
							| Microsoft, Facebook, or Google account.
			.login-screen#login-providers
				.login-banner Sign in using
				ul.login-options
					li.login-option#option-provider-msft
						a.option-link(href='/auth/msft')
						img.option-icon(src='/images/icons/icon_msft.png')
						span.option-caption Microsoft
					li.login-option#option-provider-fb
						a.option-link(href='/auth/fb')
						img.option-icon(src='/images/icons/icon_fb.png')
						span.option-caption Facebook
					li.login-option#option-provider-google
						a.option-link(href='/auth/google')
						img.option-icon(src='/images/icons/icon_google.png')
						span.option-caption Google
				.screen-back.clearfix
					a(href='#') Go back
				.login-disclaimer
					| Signing in is securely handled by your provider.
					br
					| We never have access to your password.
